<!DOCTYPE html>
<html>

<head>
    <title>Cam Hudson's Personal Website</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
    <!-- TODO: Add Bootstrap stuff -->
</head>

<body>
    <div id="nav">
        TODO: Nav bar?
        <div class="nav-main">
            TODO: nav-main
        </div>
        <div class="nav-user">
            TODO: nav-user (probably not necessary, don't plan on having users)
        </div>
    </div>

    {% block page %}
    {% endblock page %}
</body>

</html>