{% extends "base.html" %}
{% block page %}
<div class="container">
    <div class="card-group gap-4 justify-content-center">
        {% for card in cards %}
            <a href="{{ card.a_href | safe }}">
                <div class="card" style="width: 18rem;">
                    <img src="{{ card.img_href }}" class="card-img-top" alt="{{ card.img_alt }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>
                                {{ card.name | safe }}
                            </b>
                        </h5>
                        <p class="card-text">
                            <i>
                                {{ card.text }}
                            </i>
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock page %}